.menu-button {
  vertical-align: middle;
}

.active {
  background-color: #d7e3ff;
}

.logout {
  color: #ba1a1a;
}


.spacer {
  flex: 1 1 auto;
}

.small-spacer {
  width: 30px;
}

.button-spacer {
  margin-right: 10px;
}


.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

