mat-toolbar {
  position: sticky;
  z-index: 1000; /* Bringt den Header in den Vordergrund */
}
.active {
  background-color: #d7e3ff;
}

.spacer {
  flex: 1 1 auto;
}

.small-spacer {
  width: 30px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
}

