.mat-card {
  max-width: 600px;
  max-height: 600px;
  margin: 2em auto;
  text-align: center;
}

.content-body {
  padding: 60px 1rem;
  display: block;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}

.forgot-password {
  padding-left: 0px;
}

.email-input {
  padding-top: 10%;
}

.aLink {
  float: right;
  padding-right: 60px;
}


