<div class="example-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Email
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">This field is mandatory.</span>
          <span *ngIf="loginForm.get('email')?.errors?.['pattern']">This field is invalid.</span>
        </mat-error>

      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Password
        </mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
</div>
